#header {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; BACKGROUND: url(http://img.timeinc.net/time/i/bg_header3.gif); FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 9px
}
#logo {
	PADDING-LEFT: 0px
}
.subscribeModule {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#home #nav {
	WIDTH: 982px
}
.contentMain {
	BORDER-RIGHT: #b10002 9px solid; BORDER-TOP: #b10002 0px solid; BORDER-LEFT: #b10002 9px solid; WIDTH: 982px! important; BORDER-BOTTOM: #b10002 0px solid
}
#mainStory {
	BACKGROUND: url(http://img.timeinc.net/time/i/bg1.gif) repeat-y; FLOAT: left; WIDTH: 360px
}
#mainStory H2 {text-align:left;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 18px/19px arial,sans-serif; COLOR: #000; PADDING-TOP: 0px
}
#mainStory H2 A {text-align:left;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 18px/19px arial,sans-serif; COLOR: #000; PADDING-TOP: 0px
}
#mainStory P {text-align:left;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 14px/16px arial,sans-serif; COLOR: #000; PADDING-TOP: 2px
}
#mainStoryWrap {
	WIDTH: 360px
}
#mainStory1 {
	DISPLAY: block
}
#mainStory2 {
	DISPLAY: none
}
#mainStory3 {
	DISPLAY: none
}
#mainStory4 {
	DISPLAY: none
}
#mainStory5 {
	DISPLAY: none
}
#topStories {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(http://img.timeinc.net/time/i/bg2.gif) repeat-y; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 342px; PADDING-TOP: 3px
}
#playLink {
	BACKGROUND: #dedede
}
.mainStoryCopy {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 8px; HEIGHT: 97px
}
.mainStoryCopy A {
	TEXT-DECORATION: none
}
.mainStoryCopy A:hover {
	TEXT-DECORATION: underline
}
.mainStoryImg {
	Z-INDEX: 99
}
#breakingNewsImg {
	Z-INDEX: 100; WIDTH: 360px; TEXT-INDENT: -2000px; POSITION: absolute; TOP: 344px
}
#breakingNewsImg2 {
	Z-INDEX: 100; WIDTH: 360px; TEXT-INDENT: -2000px; POSITION: absolute; TOP: 344px
}
#breakingNewsImg3 {
	Z-INDEX: 100; WIDTH: 360px; TEXT-INDENT: -2000px; POSITION: absolute; TOP: 344px
}
#breakingNewsImg {
	BACKGROUND: url(http://img.timeinc.net/time/i/hdg_breaking-news.jpg) no-repeat
}
#breakingNewsImg2 {
	BACKGROUND: url(http://img.timeinc.net/time/i/hdg_breaking-news2.jpg) no-repeat
}
#breakingNewsImg3 {
	BACKGROUND: url(http://img.timeinc.net/time/i/hdg_breaking-news3.jpg) no-repeat
}
#dashboard {
	CLEAR: left; BACKGROUND: url(http://img.timeinc.net/time/i/bg4.gif) repeat-y; FLOAT: left; MARGIN: 20px 0px 10px
}
#dashboard .tout1 {
	CLEAR: left
}
#dashboard H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 17px arial, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#dashboard H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 17px arial, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#dashboard H2 {
	BORDER-BOTTOM: #e5e5e5 1px solid
}
#dashboard H2 A {
	TEXT-DECORATION: none
}
#dashboard H2 SPAN {
	PADDING-LEFT: 5px; FONT: 10px arial,sans-serif; COLOR: #666666; LETTER-SPACING: 0px
}
#dashboard H2 A:hover {
	TEXT-DECORATION: underline
}
#dash1 {
	FLOAT: left; WIDTH: 306px
}
#dash2 {
	FLOAT: left; WIDTH: 306px
}
#dash3 {
	FLOAT: left; WIDTH: 306px
}
#dash1 {
	PADDING-RIGHT: 9px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#dash2 {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#dash3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#dashboard .more A {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.timeinc.net/time/i/arrow_2.gif) no-repeat right center; FLOAT: right; PADDING-BOTTOM: 6px; FONT: 10px arial,sans-serif; COLOR: #003366; MARGIN-RIGHT: 5px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#dashboard .more A:hover {
	TEXT-DECORATION: underline
}
#dashboard .help {
	FLOAT: right; FONT: 9px arial,sans-serif; TEXT-TRANSFORM: uppercase; PADDING-TOP: 5px
}
#dashboard .help A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: url(http://img.timeinc.net/time/i/icon_help.gif) no-repeat right 2px; PADDING-BOTTOM: 3px; COLOR: #003366; PADDING-TOP: 6px
}
#dashboard .help A:hover {
	TEXT-DECORATION: none
}
#module {
	FLOAT: left; PADDING-BOTTOM: 27px
}
#module H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 17px arial, sans-serif; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 1px solid; LETTER-SPACING: -1px
}
#module H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 17px arial, sans-serif; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 1px solid; LETTER-SPACING: -1px
}
#module H2 A:hover {
	TEXT-DECORATION: underline
}
#module .more A {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.timeinc.net/time/i/arrow_2.gif) no-repeat right center; FLOAT: right; PADDING-BOTTOM: 6px; FONT: 10px arial,sans-serif; COLOR: #003366; MARGIN-RIGHT: 5px; PADDING-TOP: 6px; TEXT-DECORATION: none
}
#module .more A:hover {
	TEXT-DECORATION: underline
}
#latestHeadlines {
	PADDING-RIGHT: 10px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 235px; PADDING-TOP: 0px
}
#latestHeadlines H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; FONT: bold 17px arial, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#latestHeadlines H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; FONT: bold 17px arial, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#latestHeadlines H2 A {
	TEXT-DECORATION: none
}
#latestHeadlines H2 A:hover {
	TEXT-DECORATION: underline
}
#latestHeadlines .timeStamp {
	PADDING-TOP: 3px
}
#latestHeadlines UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 2px; PADDING-TOP: 0px
}
#latestHeadlines UL LI {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left 12px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 9px; BACKGROUND-IMAGE: url(http://img.timeinc.net/time/i/dot2.gif); PADDING-BOTTOM: 4px; LINE-HEIGHT: 11px; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat
}
UNKNOWN {
	BACKGROUND-POSITION: left 12px
}
#latestHeadlines UL LI A {
	FONT: bold 12px arial,sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
#latestHeadlines UL LI A:hover {
	TEXT-DECORATION: underline
}
#latestHeadlines UL LI.graphic {
	BACKGROUND-POSITION: left 2px; PADDING-LEFT: 29px; BACKGROUND-IMAGE: url(http://img.timeinc.net/time/i/icon_graphic.gif); FONT: bold 12px/16px arial,sans-serif; COLOR: #ba0005; BACKGROUND-REPEAT: no-repeat
}
UNKNOWN {
	BACKGROUND-POSITION: left 3px
}
#latestHeadlines UL LI.photo {
	BACKGROUND-POSITION: left 6px; PADDING-LEFT: 29px; BACKGROUND-IMAGE: url(http://img.timeinc.net/time/i/icon_photos.gif); FONT: bold 12px arial,sans-serif; COLOR: #ba0005; BACKGROUND-REPEAT: no-repeat
}
UNKNOWN {
	BACKGROUND-POSITION: left 6px
}
#latestHeadlines UL LI.video {
	BACKGROUND-POSITION: left 5px; PADDING-LEFT: 29px; BACKGROUND-IMAGE: url(http://img.timeinc.net/time/i/icon_video3.gif); FONT: bold 12px arial,sans-serif; COLOR: #ba0005; BACKGROUND-REPEAT: no-repeat
}
UNKNOWN {
	BACKGROUND-POSITION: left 5px
}
#latestHeadlines UL LI SPAN.thePage {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: url(http://img.timeinc.net/time/i/icon_thePage.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; FONT: bold 12px arial,sans-serif; WIDTH: 59px; COLOR: #ba0005; TEXT-INDENT: -9999px; PADDING-TOP: 0px; HEIGHT: 15px
}
#blogs {
	FLOAT: left
}
#blogs H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 17px arial, sans-serif; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 1px solid; LETTER-SPACING: -1px
}
#theAg {
	FLOAT: left; PADDING-BOTTOM: 27px; WIDTH: 306px
}
.theAgTout headline {
	FLOAT: left; WIDTH: 200px
}
.theAgTout UL LI A {
	FONT: bold 12px/12px arial,sans-serif
}
.theAgTout UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 2px; WIDTH: 175px; PADDING-TOP: 0px
}
.theAgTout UL LI {
	PADDING-RIGHT: 4px; PADDING-LEFT: 9px; BACKGROUND: url(http://img.timeinc.net/time/i/dot2.gif) no-repeat left 12px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 10px; PADDING-TOP: 4px
}
UNKNOWN {
	BACKGROUND: url(http://img.timeinc.net/time/i/dot2.gif) no-repeat left 12px
}
#db1 {
	FLOAT: left; PADDING-BOTTOM: 27px
}
#postcardFrom {
	FLOAT: left; PADDING-BOTTOM: 27px
}
#quotesOfTheDay {
	FLOAT: left; PADDING-BOTTOM: 27px
}
#quotesOfTheDay P {
	FLOAT: none; WIDTH: 172px
}
#db2 P {
	FLOAT: none; WIDTH: 172px
}
#quotesOfTheDay P A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px georgia,arial,sans-serif; COLOR: #000; PADDING-TOP: 0px
}
#db2 P A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px georgia,arial,sans-serif; COLOR: #000; PADDING-TOP: 0px
}
#quotesOfTheDay P A:hover {
	TEXT-DECORATION: underline
}
#db2 P A:hover {
	TEXT-DECORATION: underline
}
#pollDay {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#db2 {
	FLOAT: left; PADDING-BOTTOM: 27px
}
#specialReports {
	FLOAT: left
}
#specialReports UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 12px; PADDING-TOP: 7px
}
#specialReports UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: 10px arial,sans-serif; COLOR: #000; PADDING-TOP: 0px
}
#specialReports UL LI SPAN {
	TEXT-TRANSFORM: uppercase
}
#specialReports SELECT {
	FONT: 11px arial,sans-serif; WIDTH: 288px; COLOR: #000
}
#columnist {
	FLOAT: left
}
#columnist UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 12px; PADDING-TOP: 7px
}
#columnist UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: 10px arial,sans-serif; COLOR: #000; PADDING-TOP: 0px
}
#columnist UL LI SPAN {
	TEXT-TRANSFORM: uppercase
}
#columnist SELECT {
	FONT: 11px arial,sans-serif; WIDTH: 288px; COLOR: #000
}
#channels {
	MARGIN-TOP: 20px; FLOAT: left
}
#channel1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 198px; PADDING-TOP: 0px
}
#channel2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 198px; PADDING-TOP: 0px
}
#channel3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 198px; PADDING-TOP: 0px
}
#channel1 {
	BACKGROUND: url(http://img.timeinc.net/time/i/bg56.gif) repeat-y
}
#channel2 {
	PADDING-RIGHT: 1px! important; PADDING-LEFT: 2px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
#channel3 {
	PADDING-RIGHT: 4px! important; PADDING-LEFT: 9px! important; BACKGROUND: url(http://img.timeinc.net/time/i/bg57.gif) repeat-y; PADDING-BOTTOM: 0px! important; MARGIN-RIGHT: 2px; PADDING-TOP: 0px! important
}
#channels H2 {
	DISPLAY: inline; FONT: bold 12px arial,sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #000
}
#channels H2 A {
	PADDING-RIGHT: 12px; BACKGROUND: url(http://img.timeinc.net/time/i/arrow_1.gif) no-repeat right center; FONT: bold 12px arial,sans-serif; COLOR: #000
}
#channels H2 A:hover {
	TEXT-DECORATION: underline
}
#channels H3 {
	FONT: 12px arial,sans-serif; COLOR: #003366
}
#channels H3 A {
	FONT: 12px arial,sans-serif; COLOR: #003366
}
#channels H3 A:hover {
	TEXT-DECORATION: underline
}
#channels #nation {
	MARGIN: 0px 10px 20px 0px
}
#channels #world {
	MARGIN: 0px 10px 20px 0px
}
#channels #entertainment {
	MARGIN: 0px 10px 20px 0px
}
#channels #healthAndScience {
	PADDING-RIGHT: 0px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 25px 10px 5px 0px; PADDING-TOP: 20px
}
#channels #businessAndTech {
	PADDING-RIGHT: 0px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 25px 10px 5px 0px; PADDING-TOP: 20px
}
#timeLinks {
	PADDING-RIGHT: 0px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 25px 10px 5px 0px; PADDING-TOP: 20px
}
#channels #moreFeatures {
	PADDING-RIGHT: 0px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 25px 10px 5px 0px; PADDING-TOP: 20px
}
#channels #politics {
	BORDER-TOP: #e5e5e5 1px solid
}
#channels #columnists {
	BORDER-TOP: #e5e5e5 1px solid
}
#channels #politics {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 5px 0px; PADDING-TOP: 20px
}
#channels #columnists {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 25px 10px 5px 0px; PADDING-TOP: 20px
}
#channels .tout1 {
	CLEAR: left
}
#timeLinks {
	MARGIN: 0px 20px 0px 0px
}
#timeLinks A {
	FONT: 11px arial,sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
#timeLinks A:hover {
	TEXT-DECORATION: underline
}
#timeLinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#timeLinks UL LI {
	PADDING-BOTTOM: 2px
}
#channels #columnists UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#channels #moreFeatures UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#channels #columnists UL LI {
	FONT: 12px arial,sans-serif
}
#channels #columnists UL LI A {
	FONT: 12px arial,sans-serif
}
#channels #moreFeatures UL LI {
	FONT: 12px arial,sans-serif
}
#channels #columnists UL LI A {
	FONT: 12px arial,sans-serif
}
#channels #columnists UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#channels #moreFeatures UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#cmBot .cmLogos {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 5px! important; FONT: 11px arial,sans-serif; PADDING-TOP: 0px! important
}
#cmBot .cmAd {
	PADDING-RIGHT: 12px! important; PADDING-LEFT: 12px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
#cmBot .cmAd A {
	FONT: 10px arial,sans-serif
}
.cmLink {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; WIDTH: 324px; PADDING-TOP: 13px
}
#promos {
	FLOAT: left; WIDTH: 336px
}
#promos H2 {
	FONT: bold 12px arial,sans-serif
}
#mostPopular {
	FLOAT: left
}
#currentIssue {
	FLOAT: left
}
#houseAd {
	FLOAT: left
}
#issueArchive {
	FLOAT: none; BORDER-BOTTOM: #e2e2e2 1px solid
}
#currentIssue {
	BORDER-RIGHT: #e5e5e5 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 5px 5px; WIDTH: 130px
}
#currentIssue .thumbnail {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#currentIssue .caret {
	DISPLAY: block; PADDING-TOP: 2px; TEXT-ALIGN: center
}
#currentIssue .caret A {
	FONT: 11px arial,sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
#currentIssue .caret A:hover {
	TEXT-DECORATION: underline
}
#timeArchive {
	MARGIN: 5px 5px 5px 10px
}
#timeArchive UL.archive {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#timeArchive UL.archive LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 9px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
#timeArchive UL.archive LI A {
	FONT: 12px arial,sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
#timeArchive UL.archive LI A:hover {
	TEXT-DECORATION: underline
}
#timeArchive UL.archive LI SPAN A {
	FONT-WEIGHT: bold
}
#timeArchive UL.link {
	PADDING-TOP: 10px
}
#timeArchive UL.link LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#timeArchive UL.link LI A {
	FONT: 11px arial,sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
#timeArchive UL.link LI A:hover {
	TEXT-DECORATION: underline
}
#bubble {
	BORDER-RIGHT: #003366 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #003366 1px solid; DISPLAY: none; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #003366 1px solid; WIDTH: 250px; PADDING-TOP: 5px; BORDER-BOTTOM: #003366 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fff
}
#bubble .thumbnail IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#bubble .copy P {
	FONT: 11px arial,sans-serif; TEXT-ALIGN: left
}
#bubble .copy P A {
	FONT: 11px arial,sans-serif; TEXT-ALIGN: left
}
#bubble .copy P A {
	TEXT-DECORATION: underline
}
#bubble .copy P A:hover {
	TEXT-DECORATION: underline
}
#bubble .sponsoredAd {
	BORDER-TOP: #e5e5e5 1px solid; MARGIN-TOP: 10px
}
#bubble .sponsored {
	PADDING-RIGHT: 10px; PADDING-LEFT: 28px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#bubble .ad {
	FLOAT: left; BORDER-LEFT: #e5e5e5 1px solid
}
#bubble .ad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; PADDING-TOP: 0px
}
#linksFooter {
	FLOAT: left
}
